div,p{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 0.5cm;
}
body{
    background-image: url("../images/BG1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div
{
    background-color: rgba(6, 105, 67, 0.322);
    border-style: solid;
    border-color: rgba(4, 78, 50, 0.792);
    padding: 10px;
    border-radius: 50px 20px;
}
button{
    width: 10%;
    height: 7%;
    margin-left: 45%;
    margin-right: 45%;
    border: 2px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgba(6, 105, 67, 0.982);
    color: aliceblue;
    font-weight: bold;
}
button:hover {
    background-color: rgb(30, 223, 159);
    color: white;
  }