body{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div{
    
    text-align: center;
    margin-top: 250px;
}

button{
    font-size: 100px;
    border-width: 0cm;
    border-radius: 20px;
    background-color :whitesmoke;
}